* {
    padding: 0;
    margin: 0;
}

#playArea {
    position: relative;
    width: 700px;
    height: 100vh;
    background-color: antiquewhite;
}

#shooter {
    position: absolute;
    width: 100px;
}

.beam {
    position: absolute;
    width: 50px;
}